:root {
    --one: #0081A7;
    --two: #00AFB9;
    --three: #fffff4;
    --four: #FED9B7;
    --five: #F07167;
}

* {
   
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--one);
    color: white;
    width: 100%;
    position: relative;
}

#above-nav {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    margin-left: 1rem;
    
}

#title-clump {
    text-align: center;
    margin: .5rem;
}

#menu-button {
    border: none;
    background-color: var(--one);
    color: var(--five);
    font-size: 2.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    
}

#menu-button::before {
    content: "☰";
}

#menu-button.open::before {
    content: "X";
}



nav {
    background-color: var(--two);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}



nav ul {
    overflow: hidden;
    list-style: none;
}

.navigation li a {
    text-align: center;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: var(--four);

}

nav.open {
    grid-template-rows: 1fr;
}

.current-page {
    text-decoration: underline;
}

#hero-div {
    position: relative;
}

#hero-image {
    width: 100%;
}

#call-to-action {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--three);
    color: var(--one);
    font-weight: 400;
}

#main-div {
    background-color: var(--four);
}

#main-h1 {
    padding: 1rem;
    margin-top: 0;
}

#below-hero {
    padding: 1rem;
}

.tile, .member-card {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: var(--three);
}

.tile h3, .member-card h3 {
    background-color: var(--one);
    color: var(--three);
    text-align: center;
    padding: .2rem;    
}

.tile-content, .member-card-content {
    padding: 1rem;
    object-fit: contain;
}

.tile p {
    margin-left: .5rem;
    margin-right: .5rem;
}

#current-weather .tile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.tile-content ul {
    list-style-type: none;
}

#events-and-weather {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

#events li {
    border: solid 1px var(--five);
    padding: .2rem;
    border-radius: 4px;
    margin: 1px;
    width: 100%;
}

footer {
    background-color: var(--three);
    justify-content: center;
}

#footer-div div {
    padding: 1rem;
}

#socials-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social {
    width: 40%;
    max-width: 50px;

    margin: 1rem;
    justify-self: center;
}

/* Directory Specific */
.member-card {
    margin: 1rem;
    height: auto;

}

.member-card-content {
    padding: 1rem;
    display: grid;
}

.member-card img {
    object-fit: contain;
    max-height: 50px;
    justify-self: center;
    margin-bottom: .5rem;
}

#directory-cards, #spotlight #membership-levels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.member-card p {
    font-size: small;
}

/* Join Specific*/
form {
    display: grid;
    grid-template-columns:  .9fr;
    justify-content: center;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

fieldset input {
    width: 1.5rem;
}

fieldset label {
    margin: .5rem;
}

label, fieldset {
    margin-top: 1rem;
}

#membership-levels {
    display: grid;
    grid-template-columns: .9fr;
    gap: 1rem;
    justify-content: center;
}

#membership-levels .tile {
    margin: 1rem;
    border: solid var(--five);
    border-radius: 5px;
}

#membershipInfoDialog {
    background-color: var(--four);
    align-self: center;
    justify-self: center;
    padding: 1rem;
    justify-items: center;
    border: solid var(--two);
}

#form-and-tiles button, input {
    padding: .5rem;
    width: 100%;;
}

#goldTile {    
    animation-name: tileGlint;
    animation-duration: 2s;    
}
#silverTile {    
    animation-name: tileGlint;
    animation-duration: 2s;  
    animation-delay: 1s; 
}
#bronzeTile {    
    animation-name: tileGlint;
    animation-duration: 2s;
    animation-delay: 2s;    
}
#npTile {    
    animation-name: tileGlint;
    animation-duration: 2s;   
    animation-delay: 3s; 
}


@keyframes tileGlint {
    50%{background-color: var(--five);}
}



@media screen and (min-width: 320px) {
    #header-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #above-nav {
        justify-items: left;
    }

    #nav-div {
        display: flex;
        align-items: end;
    }

    nav {
        background-color: var(--one);
        grid-template-rows: 1fr;
    }



    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-self: right;
    }

    nav a {
        color: white;
    }

    nav a:hover {
        color: var(--one)
    }

    #menu-button {
        display: none;
    }

    #footer-div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        
    }

    #footer-div div {
        justify-self: center;
    }


}

@media screen and (min-width: 640px) {
    #form-and-tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
    }
}