@media screen and (min-width: 320px) {


    #aboveNav {
        font-size: 2rem;
    }

    #selfPortrait img{
        width: 100%;
    }

    #menu {
        display: none;
    }

    .navigation a {
        display: block;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    #tiles {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0;
    }    

    #certificate {
        grid-column: 1/3;
    }

    /* #tiles {
        display: flex;
        flex-wrap: wrap;
    }

    .tile {
        /* width: 100%; */
        /* min-width: 200px;
        max-width: 500px;
    } */

    /* #courseWork {
        min-width: 300px;
    } */ 



    #classTypes {
        display: flex;
        justify-content: center;
    }

    .classType {
        width: 150px;
    }

    #classCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .course {
        width: 150px;
    }
}