* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
    --first-color: #940000;
    --first-color-light: #e4cccc;
    --second-color: #005c3f;
    --second-color-light: #d0e9e1;
    --third-color: #671ca1;
    --third-color-light: #e1d4eb;
}

body {
    /* padding: 1rem; */
    background-color: var(--first-color-light);
}

h1 {
    margin: 0;
}

header{
    background-color: var(--second-color);
    color: var(--third-color-light);
}

header h1 {
    color: white;
}

#above-nav {
    padding: 1rem;
}

#menu-button {
    border: none;
    background-color: var(--second-color);
    color: white;
    font-size: 2.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    
}

#menu-button::before {
    content: "☰";
}

#menu-button.open::before {
    content: "X";
}

nav {
    background-color: var(--third-color-light);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
}

#nav-list li a {
    text-align: center;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--first-color);
}

#nav-list a:hover {
    background-color: var(--third-color);
    color: white;

}

nav.open {
    grid-template-rows: 1fr;
}

.current-page {
    /* text-decoration: underline; */
    background-color: var(--second-color-light);
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

section {
    background-color: var(--second-color-light);
    border: solid var(--second-color);
    border-radius: 1rem;
    overflow: hidden;
    /* padding: 1rem; */
}

section h3 {
    background-color: var(--third-color);
    color: white;
    padding: .5rem;
}

section h3, section ul {
    padding: .5rem;
}

section p {
    padding: 1rem;
}

section li {
    margin: 1rem;
}

section img {
    max-width: 100px;
}

dialog {
    width: 100%;
    justify-self: center;
    align-self: center;
}

dialog img {
    max-width: 100%;
}

dialog td {
    align-content: start;
}

.open-button, .close-button {
    width: 100%;
    background-color: var(--third-color);
    color: white;
    padding: .5rem;
    font-size: larger;
    border-radius: 1rem;
    border: solid 2px var(--second-color);

}

footer {
    background-color: var(--second-color);
    padding: 1rem;
    color: white;
}

@media screen and (min-width: 640px) {

    nav {
        grid-template-rows: 1fr;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;

    }

    #menu-button {
        display: none;
    }

    #spells {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}